# bytecode files
__pycache__/
*.py[cod]

# virtual environment
venv/
env/
*.venv
*.env

# flask-specific files
instance/
*.log
*.sqlite3
*.db

# socketio-specific files
*.sock

# vscode settings
.vscode/

# node.js dependencies (if using npm for the frontend)
node_modules/
*.cache

# deployment and system files
.DS_Store
*.swp
*.swo
*.swn

# poetry and python package management
poetry.lock
pip-log.txt

# ide and editor files
.idea/
*.iml
*.sublime-workspace

# own files
swear_words.txt

__pycache__