.mainContainer {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    gap: 12px;

    padding: 12px;
    width: 100%;
    border-radius: 24px;
    border: 1px solid var(--grey-1);

    animation: fade-in 700ms;
}


.passwordContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;

    width: 100%;
    gap: 6px;
}


.charBox {
    height: 44px;
    width: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    border-radius: 8px;
    background-color: var(--grey-soft-1);

    font-weight: 1000;

    color: var(--text-1);
    font-size: 20px;
    animation: fade-in 200ms;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}