@font-face {
  font-family: manrope;
  src: url('./fonts/Manrope-VariableFont_wght.ttf');
}

body {
  font-family: manrope;
  margin: 0px;
  background-color: var(--main-background);
}

:root {
  --main-background: #FFFFFF;
  --container-shadow: #00000039;
  --text-1: #000000;
  --text-2: #323232;
  --text-3: #4F4F4F;
  --text-4: #727272;
  --grey-1: #DEDEDE;
  --grey-4: #797979;
  --grey-soft-1: #F4F4F4;

  --orange-text: #FF951B;
  --orange-soft: #FFF4D7;
  --blue-text: #4F8CFF;
  --blue-soft: #E3F3FF;
  --purple-text: #AB1BFF;
  --purple-soft: #F2E7FF;
  --green-text: #1ADB13;
  --green-soft: #E1FFD7;
  --grey-text: #373737;
  --grey-soft: #F9F9F9;
  --black-text: #FFFFFF;
  --black-soft: #000000;
  --white-text: #707070;
  --white-soft: #FFFFFF;

  --user-blue-1: #00CCFF;
  --user-blue-2: #3B93FF;
  --user-purple: #9C5AFF;
  --user-pink: #EC19FF;
  --user-red: #FF1B1B;
  --user-orange: #FFA600;
  --user-green: #21F019;
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-background: #000000;
    --container-shadow: #00000039;
    --text-1: #ffffff;
    --text-2: #d8d8d8;
    --text-3: #bfbfbf;
    --text-4: #bdbdbd;
    --grey-1: #3d3d3d;
    --grey-4: #9a9a9a;
    --grey-soft-1: #252525;

    --orange-text: #FF951B;
    --orange-soft: #362701;
    --blue-text: #4F8CFF;
    --blue-soft: #0f283b;
    --purple-text: #AB1BFF;
    --purple-soft: #271142;
    --green-text: #1ADB13;
    --green-soft: #102b07;
    --grey-text: #e8e8e8;
    --grey-soft: #232323;
    --black-text: #000000;
    --black-soft: #ffffff;
    --white-text: #ffffff;
    --white-soft: #000000;
  }
}

.content {
  padding: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.text-content {
  padding: 0px 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}