.container {
    position: fixed;
    top: 0px;
    left: 0px;
    
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100dvh;
    width: 100vw;
    background-color: var(--container-shadow);

    z-index: 20;
}