:root {
    --grey-color: #4b005f80;
    --blue: #00A3FF;
    --blue-dark: #007dc5;
    --orange: #FF5C00;
    --orange-dark: #c64800;
    --red: #FF0000;
    --red-dark: #be0000;
}

/* @media (prefers-color-scheme: light) {
    :root {
        --background-color: #ffffff;
        --container-color: #E2E2E2;
        --font-color: #000000;
        --gray-font-color: #9b9b9b;
    }
} */

/* @media (prefers-color-scheme: dark) { */
    :root {
        --background-color: #000000;
        --container-color: #323232;
        --font-color: #ffffff;
        --gray-font-color: #858585;
    }
/* } */


body {
    margin: 0px;
    padding: 20px;
    padding-bottom: 200px;

    font-family: Noto Sans, sans-serif;
    background-color: var(--background-color);
}


body::-webkit-scrollbar,
body::-webkit-scrollbar-thumb {
    display: none;
}

h1 {
    color: var(--dark-color);
    text-align: center;
    width: 100%;
    margin-top: 10px;
    color: var(--font-color);
}

h2 {
    font-size: 24px;
    margin: 0px 0px 10px 0px;
    color: var(--font-color);
}

.bottomContainer {
    display: flex;
    flex-direction: column;

    position: fixed;
    left: 20px;
    bottom: 0px;
    padding-top: 10px;
    padding-bottom: 20px;

    width: calc(100% - 40px);
    gap: 16px;
    height: max-content;
    background-color: var(--background-color);
}

button {
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;

    font-size: 22px;
}

.deleteButton {
    background-color: var(--red);
    color: white;
    height: 35px;
    border-radius: 8px;
    font-size: 14px;
    width: 80px;
}

.deleteButton:hover {
    background-color: var(--red-dark);
}

.primaryButton {
    color: white;
    background-color: var(--blue);
}

.primaryButton:hover {
    background-color: var(--blue-dark);
}

.secondaryButton {
    background-color: var(--orange);
    color: white;
}

.secondaryButton:hover {
    background-color: var(--orange-dark);
}

.row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: max-content;
    align-items: center;
}

input {
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;

    outline: none;
    font-size: 22px;
    border: solid 4px var(--blue);
    background-color: rgba(0, 0, 0, 0);
    color: var(--font-color);
}

input::-webkit-input-placeholder {
    color: var(--gray-font-color);
}

.numberInput {
    text-align: center;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;

    gap: 10px;
    padding: 20px;
    border-radius: 26px;
    background-color: var(--container-color);
}

.teamsView {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.teamsView p {
    font-size: 18px;
    margin: 0px;
    color: var(--font-color);
}

#wordsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
}

#wordsContainer p {
    font-size: 18px;
    margin: 0px;
    color: var(--font-color);
}

#playersCircle {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-left: 50%;
    transform: translateX(-50%);

    width: 230px;
    height: 230px;
    box-sizing: border-box;

    margin-bottom: 50px;

    border-radius: 50%;
    border: 14px solid var(--container-color);
}

#playersCircle[data-is-own-turn="true"] {
    padding: 10px !important;
    animation: circleBorder 4s infinite linear;
    box-shadow: 0px 0px 80px 0px var(--blue);   
}

@keyframes circleBorder {
    0% {
        border: 6px solid var(--blue);
    }
    
    50% {
        border: 20px solid var(--blue);
    }
    
    100% {
        border: 6px solid var(--blue);
    }
}

#playersCircle>div {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
    border-radius: 50%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;

    background-color: var(--container-color);
    color: var(--font-color);
}

#playersCircle[data-is-own-turn="true"]>div {
    background-color: var(--blue);
    color: var(--font-color);
}

.topContainer {
    width: 100%;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#teamMembers {
    padding: 30px 20px 30px 20px;
    display: flex;
    gap: 14px;
}

#teamMembers p {
    font-size: 18px;
    margin: 0px;
    color: var(--font-color);
}

#wordHeader {
    text-align: center;
}

#wordContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
}

#wordContainer>h1 {
    font-size: 20px;
    margin: 0px;
    overflow-x: auto;
}

#scoreContainer {
    margin-bottom: 20px;
    padding: 20px;
    gap: 14px;
}

#scoreContainer p {
    font-size: 18px;
    margin: 0px;
    color: var(--font-color);
}