# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
*.env
venv/
instance/
*.sqlite3

# Node.js (React)
node_modules/
build/
dist/
*.log

# Flask & SocketIO
*.db
*.sqlite
*.db-journal
migrations/

# MacOS
.DS_Store

# VSCode
.vscode/

# AWS & Deployment
*.pem
*.crt
*.key

database.db
swear_words.txt