.inputContainer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 4px;
    width: 100%;
    box-sizing: border-box;
    animation: input-in 700ms;
}

.textarea {
    all: unset;
    height: calc((42px - 16px + 3px) * 3) !important;
}

.input {
    all: unset;

    display: flex;
    width: 100%;
    box-sizing: border-box;

    padding: 8px;
    align-items: center;
    gap: 10px;

    border-radius: 12px;
    background: var(--grey-soft-1, #F4F4F4);
    color: var(--text-1, #4F4F4F);

    border: 2px solid rgba(0, 0, 0, 0);

    text-align: start;
    font-family: manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    user-select: none;
}

.inputWithTip {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.input::placeholder {
    color: var(--text-3, #4F4F4F);
}

.input:focus {
    border: 2px solid var(--main-background);
    outline: 2px solid var(--text-4);
}

.label {
    color: var(--text-1, #000);
    text-align: start;
    font-family: manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.inputWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 4px;
}

.inputWrapperWidthTip {
    gap: 0px;
}

.inputTip {
    width: 100%;
    box-sizing: border-box;

    padding: 8px;
    background: var(--red-soft);
    border-top: 2px solid var(--red);
    
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;

    color: var(--red-text);
    text-align: start
}

@keyframes input-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}